body{
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 45px;
    color: gray;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
    
}
.half-width img{
    width: 70%;
}

.link-button{
    text-decoration: none;
    font-size: small;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgba(245, 90, 18, 0.815),rgb(245, 161, 52));
    padding: 10px 20px;
    border-radius: 60px;
}
.banner-logo{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-top: 80px;
    padding-left:12px ;
}
.second-img{
   
    margin-top: 15%;
    height: 73%;
}
.text-center{
    text-align: center;
}
.flex-container{
    display: flex;
    height: 400px;
    align-items: center;
    padding-top: 25px;
    
    
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 8%;
    padding-right: 2%;
    border-radius: 10px;
    box-shadow: gray 10px 10px 50px;
    
}
.around{
    height:200px;
    width: 280px;
}
footer{
    text-align: center;
    color: gray;
    background-color: black;
}